@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

    <div class="main">
        @*<div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">Weather Report</a>
        </div>*@

        <div class="top-row px-4">
            <span class="ml-md-auto float-left">X00147161</span>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
