<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/297c1af2-1833-4eff-a790-64fb13da8e0c/resourceGroups/EadBlazor/providers/Microsoft.Web/sites/Blazorx00147161</ResourceId>
    <ResourceGroup>EadBlazor</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://blazorx00147161.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>blazorx00147161.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Blazorx00147161</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Blazorx00147161</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>